<%= form_for @recipe do |recipe_form| -%>
  <div>
    <%= recipe_form.label :name %>
    <%= recipe_form.text_field :name %>
  </div>
  <div>
    <%= recipe_form.label :ingredients %>
    <%= recipe_form.text_area :ingredients %>
  </div>
  <div>
    <%= recipe_form.label :instructions %>
    <%= recipe_form.text_area :instructions %>
  </div>

  <%= submit_tag "Add Recipe" %>
<% end -%>
